body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set body height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    background-color: #F2F2F2;
}

html {
    touch-action: manipulation;
}

.imgHomepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute images along the column */
    align-items: center; /* Center images horizontally */
    flex-grow: 1; /* Allow the image container to grow and take up remaining space */
    width: 100%; /* Full width of the screen */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    padding: 0 12px; /* Add padding to the left and right */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.image-wrapper {
    position: relative; /* Required for the overlay positioning */
    width: 100%; /* Full width within the container */
    height: calc((100vh - 100px - 24px) / 3); /* Adjust height to fit within viewport */
    margin-bottom: 12px; /* Space between images */
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

.image-wrapper img {
    width: 100%; /* Full width within the wrapper */
    height: auto; /* Maintain aspect ratio */
}

.image-wrapper:last-child {
    margin-bottom: 0;
}

.logo {
    height: auto;
    margin-top: 20px; /* Add some top margin for spacing */
}

h1 {
    margin: 0;
    padding: 5px 0;
    font-size: 24px;
    text-align: center;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16pt;
    margin-top: 8px;
}

/* Initial overlay text styling */
.overlay {
    position: absolute; /* Position it absolutely within the wrapper */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be exactly in the center */
    color: white; /* White text */
    font-family: 'Azo Sans', sans-serif; /* Font family */
    font-weight: bold; /* Initial font weight */
    font-size: 28px; /* Initial font size */
    text-align: center; /* Center the text */
}

/* New text styling after clicking */
.overlay.new-text {
    font-weight: normal; /* Regular font weight */
    font-weight: 300;
    font-size: 16px; /* Font size */
}


.overlay-icon {
    position: absolute; /* Position it absolutely within the wrapper */
    top: 10%; /* Center it vertically */
    right: 5%; /* Center it horizontally */

}

/* Comop for gym owners */
.navigationComopMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 116px;
    width: 100%;
    max-width: 100%;
    background-color: #F2F2F2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navigationComopMobile .logo {
    flex: 1;
}

.navigationComopMobile .logo img {
    width: 150px;
    height: auto;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none; /* Initially hidden */
    margin-right: 30px; /* Ensure it's aligned to the right */
}



.navLinks {
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.navLinks a {
    text-decoration: none;
    color: #1C1B1B;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    
}

@media (max-width: 768px) {
    .navLinks {
        display: none; /* Hide links on mobile */
        flex-direction: column;
        width: 100%;
        background-color: #F2F2F2;
        position: absolute;
        top: 116px; /* Below the navbar */
        left: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #C9C9C9;
        text-align: center;
        align-items: center;
    }

    .navLinks a {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .navLinks a:first-child:hover {
        color: #D480FF;
    }
    
    .navLinks a:nth-child(2):hover {
        color: #FFB952;
    }

    .navLinks a:nth-child(3):hover {
        color: #6CC2FF;
    }

    .navLinks a:nth-child(4):hover {
        color: #80F075;
    }

    .navLinks a:last-child:hover {
        color: #D480FF;
    }

    .menu-icon {
        display: block; /* Show hamburger on mobile */
    }
}

.imgHeader {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/comopOwners.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Ensure positioning context for child elements */
    margin-top: 116px; /* Adjust for fixed navbar height */
}

.logoOwners {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.logoGymBrands img{
    width: 90%;
    height: auto;
    padding-left: 20px;
}