.imgHomepage {
    display: flex;
    justify-content: space-between; /* Distribute images along the row */
    align-items: flex-end; /* Align images to the bottom of the container */
    overflow-x: auto; /* Enable horizontal scrolling for small screens */
    margin-bottom: 20px; /* Add some space below the images */
}

.imgHomepage img {
    max-width: calc(100% / 3 - 8px); /* Ensure each image takes up 1/3 of the container width with margin */
    height: auto; /* Maintain aspect ratio */
    margin-right: 4px; /* Add margin between images */
    margin-left: 4px;
}

.logo {
    width: 165px;
    height: auto;
}
