body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

html {
    touch-action: manipulation;
    scroll-behavior: smooth;
    -webkit-user-drag: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

img {
    pointer-events: none;
}

a {
    -webkit-user-drag: none;
}


.imgHomepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute images along the column */
    align-items: center; /* Center images horizontally */
    flex-grow: 1; /* Allow the image container to grow and take up remaining space */
    width: 100%; /* Full width of the screen */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    padding: 0 12px; /* Add padding to the left and right */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.image-wrapper {
    position: relative; /* Required for the overlay positioning */
    width: 100%; /* Full width within the container */
    height: calc((100vh - 100px - 24px) / 3); /* Adjust height to fit within viewport */
    margin-bottom: 12px; /* Space between images */
    overflow: hidden; /* Hide overflow to prevent scrolling */
    cursor: pointer;
}

.image-wrapper img {
    width: 100%; /* Full width within the wrapper */
    height: auto; /* Maintain aspect ratio */
}

.image-wrapper:last-child {
    margin-bottom: 0;
}

.logo {
    height: auto;
    margin-top: 20px; /* Add some top margin for spacing */
}

h1 {
    margin: 0;
    padding: 5px 0;
    font-size: 24px;
    text-align: center;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16pt;
    margin-top: 8px;
}

/* Initial overlay text styling */
.overlay {
    position: absolute; /* Position it absolutely within the wrapper */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be exactly in the center */
    color: white; /* White text */
    font-family: 'Azo Sans', sans-serif; /* Font family */
    font-weight: bold; /* Initial font weight */
    font-size: 28px; /* Initial font size */
    text-align: center; /* Center the text */
}

/* New text styling after clicking */
.overlay.new-text {
    font-weight: normal; /* Regular font weight */
    font-weight: 300;
    font-size: 16px; /* Font size */
}


.overlay-icon {
    position: absolute; /* Position it absolutely within the wrapper */
    top: 10%; /* Center it vertically */
    right: 5%; /* Center it horizontally */

}

/* Comop for gym owners */
.navigationComopMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    max-width: 100%;
    background-color: #F2F2F2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navigationComopMobile .logo {
    flex: 1;
}

.navigationComopMobile .logo img {
    width: 150px;
    height: auto;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none; /* Initially hidden */
    margin-right: 30px; /* Ensure it's aligned to the right */
}



.navLinks {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}

.navLinks a {
    text-decoration: none;
    color: #1C1B1B;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    
}

.navLinks a:first-child:hover, .navLinks a:first-child:active {
    color: #D480FF;
}

.navLinks a:nth-child(2):hover, .navLinks a:nth-child(2):active {
    color: #FFB952;
}

.navLinks a:nth-child(3):hover, .navLinks a:nth-child(3):active {
    color: #80F075;
}

.navLinks a:nth-child(4):hover, .navLinks a:nth-child(4):active {
    color: #79ECEC;
}

#download {
    color: #F2F2F2;
    background-color: #6CC2FF;
    padding: 20px 20px;
    border-radius: 10px;
}

#download:hover {
    background-color: #C7E6FC;
    color: #6CC2FF;
}

@media (max-width: 768px) {
    .navLinks {
        display: none; /* Hide links on mobile */
        flex-direction: column;
        width: 100%;
        background-color: #F2F2F2;
        position: absolute;
        top: 116px; /* Below the navbar */
        gap: 10px;
        left: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #C9C9C9;
        text-align: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .navLinks a {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .menu-icon {
        display: block; /* Show hamburger on mobile */
    }
}


.logoOwners {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.logoGym a{
    margin-left: 30px;
    padding: 20px 90px;
    background-image: url('assets/images/comopForGymOwnersBlack.svg');
    background-repeat: no-repeat;
}

.logoGym a:hover, .logoGym a:active {
    padding: 20px 90px;
    background-image: url('assets/images/comopForGymOwnersPurple.svg');
}

/* Position and animate the arrow icon */
.arrow-down {
    position: absolute;
    bottom: 18%; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 3s infinite; /* Increased duration to 3s for slower animation */
}

.arrow-down img {
    width: 20px; /* Adjust size as needed */
    height: auto;
}

.aboutClick {  
    padding: 50px;
    z-index: -999;
    position: absolute;
    top: 85vh;
}

/* Keyframes for bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-8px); /* Reduced the height of the bounce */
    }
    60% {
        transform: translateX(-50%) translateY(-4px); /* Reduced the height of the bounce */
    }
}

.title {
    margin-top: 80px;
    margin-left: 24px;
    margin-right: 24px;
}

.title h1{
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1C1B1B;
    text-align: left;
}

.title p{
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1C1B1B;
    text-align: left;
    margin-top: 8px;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 20px;
}


.image-container img {
    width: 100%;
    height: auto;
}


.homepage {
    background-image: url('assets/images/comopOwners.svg');
    background-position: center;
    background-size: cover;
    /* padding-bottom: 20vh; */
    
}


.home {
    color: #F2F2F2;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.homeLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-background {
    background-image: url('assets/images/GymImg1.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: 'Azo Sans', sans-serif;
    color: #F2F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container h3 {
    font-size: 16px;
    font-weight: normal;   
    margin-left: 24px; 
    margin-right: 24px; 
}

.container img {
    width: 60%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}


.container-background2 {
    background-image: url('assets/images/gymImg2.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    font-family: 'Azo Sans', sans-serif;
    color: #F2F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container2 h3 {
    font-size: 16px;
    font-weight: normal;  
    margin-left: 24px; 
    margin-right: 24px;  
}

.container2 img {
    width: 35%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container-background3 {
    background-image: url('assets/images/gymImg3.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    font-family: 'Azo Sans', sans-serif;
    color: #F2F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container3 h3 {
    font-size: 16px;
    font-weight: normal;  
    margin-left: 24px; 
    margin-right: 24px;  
}

.container3 img {
    width: 30%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container-background4 {
    background-image: url('assets/images/gymImg4.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 {
    font-family: 'Azo Sans', sans-serif;
    color: #F2F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container4 h3 {
    font-size: 16px;
    font-weight: normal; 
    align-items: center;
    text-align: center;  
    margin-left: 24px; 
    margin-right: 24px;
}

.container4 img {
    width: 25%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container-backgroundText {
    background-image: url('assets/images/gymImg5.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #F2F2F2;
    font-family: 'Azo Sans', sans-serif;
    flex-direction: column;
}

.container-backgroundText h3 {
    font-size: 16px;
    font-weight: normal;  
    margin-left: 24px; 
    margin-right: 24px; 
    margin-bottom: 0px; 
}

.container-backgroundText p {
    font-size: 16px;
    font-weight: 200;  
    margin-left: 24px; 
    margin-right: 24px;  
    
}



.phoneSection h1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1C1B1B;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 80px;

}

.phoneSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 86px;

}

.phone{
    background-image: url('assets/images/bgPhone.svg');
    background-position: center;
    background-size: contain; /* Ensure the image fits within the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 300px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;

}

.fitpassBox {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-top: 36px;
}

.fitpassBox h1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1C1B1B;
    text-align: left;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 0px;
}

.fitpassBox span {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #6CC2FF;
    text-align: left;
    padding-right: 12px;
}

.fitpassBox p {
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1C1B1B;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.newsfeedBox {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-top: 36px;
}

.newsfeedBox h1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1C1B1B;
    text-align: left;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 0px;
}

.newsfeedBox span {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #6CC2FF;
    text-align: left;
    padding-right: 12px;
}

.newsfeedBox p {
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1C1B1B;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.challengesBox {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-top: 36px;
}

.challengesBox h1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1C1B1B;
    text-align: left;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 0px;
}

.challengesBox span {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #6CC2FF;
    text-align: left;
    padding-right: 12px;
}

.challengesBox p {
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1C1B1B;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.profileBox{
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-top: 36px;
}

.profileBox h1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1C1B1B;
    text-align: left;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 0px;
}

.profileBox span {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #6CC2FF;
    text-align: left;
    padding-right: 12px;
}

.profileBox p {
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1C1B1B;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.clickable {
    cursor: pointer;
    padding: 12px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent; /* Add a transparent border */
    border-left: 4px solid #F2F2F2;
}

.activeBox {
    border-left: 4px solid #6CC2FF; /* Adjust the color to your blue */
}

.activeBox h1 {
    color: #6CC2FF; /* Adjust the color to your blue */
}


.downloadBtn {
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.pricingClick {  
    padding: 50px;
    z-index: -999;
    position: absolute;
    top: 590vh;
}

.pricing {
    background-image: url('assets/images/pricingImg.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1C1B1B;
    text-align: left;
    padding-bottom: 44px;
}

.pricing h1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 60px;
}

.pricing p {
    font-family: 'Azo Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
}


.pricingBox{
    display: flex;
    flex-direction: column;
    color: #F2F2F2;


}

.appPlan{
    /* the appPlan needs to be on the pricingBox */
    background-color: #F2F2F2;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pricingText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    border-bottom: 1px solid #C9C9C9;
    

}

.pricingText h1 {
    margin: 0px;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 12px;

}

.pricingText p {
    margin: 0px;
    padding: 0px;

}

.option1{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.option1 p{
    margin: 0px;
    padding: 0px;
    margin-left: 12px;
}

.option2{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.option2 p{
    margin: 0px;
    padding: 0px;
    margin-left: 12px;
}

.option3{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 36px;
}

.option3 p{
    margin: 0px;
    padding: 0px;
    margin-left: 12px;
}

.btnContact {
    background-color: #1C1B1B;
    color: #F2F2F2;
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 104px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0px;
}

.rewardPlan {
    position: relative; /* Add this line to make it the containing block for absolutely positioned elements */
    background-color: #F2F2F2;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 36px;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pricingText2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    border-bottom: 1px solid #C9C9C9;
}

.pricingText2 h1 {
    margin: 0px;
    padding: 0px;
    margin-top: 12px;
    margin-bottom: 12px;

}

.pricingText2 p {
    margin: 0px;
    padding: 0px;

}

.mostPopular {
    position: absolute;
    background-color: #F2F2F2;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    color: #6CC2FF;
    width: auto; /* Adjusted width */
    min-width: 100px; /* Add a min-width to prevent it from being too narrow */
    height: auto;
    top: -20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure the "most popular" div is above the "reward plan" */
}

.mostPopular p {
    margin: 0px;
    font-size: 16px;
    font: 'Azo Sans', sans-serif;
    font-weight: bold;
    color:#D480FF;
}

/* who is comop section */
.whoComop h1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #1C1B1B;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 60px;
}

.whoComop img {
    width: 80%;
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.whoComopBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whoComopText{
    width: 85%;
}

.normalText {
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1C1B1B;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
}

.boldText {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #1C1B1B;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 16px;
    padding-top: 16px;
}

.lastTextPricing {
    color: #F2F2F2;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;

}

.whoComop {
    position: relative;
    padding-bottom: 86px;
    padding-top: 24px;
    overflow: hidden;
}

.arrowL {
    position: absolute;
    top: 10%;
    left: -19%;
    transform: translateY(-50%);
}

.arrowR {
    position: absolute;
    bottom: -7%;
    right: -15%;
    transform: translateY(-50%);
}

.slogan {
    background-image: url('assets/images/sloganImg.svg');
    /* background-position: center;
    background-size: cover;
    width: 100%;
    height: auto; */

    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1C1B1B;
    text-align: left;
    padding-bottom: 44px;

}

.slogan p {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #F2F2F2;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 60px;

}

.slogan div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slogan span {
    /* start this text on a new line */
    display: block;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;

    color: #F2F2F2;
    padding-top: 24px;
}

.contactClick {  
    padding: 50px;
    z-index: -999;
    position: absolute;
    top: 885vh;
}


.contact {
    background-color: #1C1B1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 140px;
    font-family: 'Azo Sans', sans-serif;
    position: relative;
    overflow: hidden;
}

.contact h1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 60px;
    color: #F2F2F2;
}

.contact1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 300px;
}

.contact1 h3 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1C1B1B;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact1 h3 span {
    display: block;
    color: #D480FF;
}

.contact1 img {
    padding-bottom: 20px;
}

.contact2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 300px;
}

.contact2 h3 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1C1B1B;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact2 h3 span {
    display: block;
    color: #FFB952;
}

.contact2 img {
    padding-bottom: 20px;
}

.btnsContact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.arrowR2 {
    position: absolute;
    bottom: -4%;
    right: -25%;
    transform: translateY(-50%);
}

.arrowL2 {
    position: absolute;
    top: 10%;
    left: -15%;
    transform: translateY(-50%);
}

.footerStyle {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Azo Sans', sans-serif;
    color: #1C1B1B;
    text-align: center;
    padding: 20px 0;
}

.footerStyle a {
    text-decoration: none;
    color: #1C1B1B;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
}

.footerLinks {
    display: flex;
    flex-direction: column;
}


.footerStyle a:first-child:hover {
    color: #D480FF;
}

.footerStyle a:nth-child(2):hover {
    color: #FFB952;
}

.footerStyle a:nth-child(3):hover {
    color: #6CC2FF;
}